
body {
	margin: 0;
}

header {
	width: 1060px;
	height: 675px;
	margin: auto;
	background: url(../img/picture_of_2_girls.jpg) no-repeat;
	overflow: hidden;
}

h1, h4, header a {
	text-transform: uppercase;
}

.background p {
	text-indent: -99999px;
}

h1 {
	float: left;
	margin: 70px 0 0 0;
	font-size: 30px;
	
}

header ul {
	float: right;
	margin: 80px 0 10px 0;
} 

header li {
	margin-right: 0;
	display: inline;
}

header li a {
	padding: 0 60px;
}

header li a:last-child {
	padding-right: 0;
}

a {
	text-decoration: none;
}

a:hover {
	 color: black;
}

a, p, h2 {
	font-family: 'Playfair Display', serif;
}

header a, h4, p, h4 a {
	font-size: 14px;
}

a, h2, p {
	color: #626262;
}

.wrap {
	overflow: hidden;
	margin-top: 100px;
}

article {
	width: 900px;
	margin: auto;
	overflow: hidden;
}

h4, h4 a {
	color: #b4ad9e;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

h2 {
	margin: 30px 0 40px 0;
}

h2, h4 {
	font-weight: normal;
}

.wrap p {
	margin: 0 0 55px 0;
	line-height: 24px;
}

.left, .right {
	width: 420px;
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

article .background {
	width: 420px;
	height: 278px;
	margin: 135px 0 0 0;
}

.picture_of_dancing_girl {
	background: url(../img/picture_of_dancing_girl.jpg) no-repeat;
}

.left h4, .right h4 {
	margin: 35px 0 30px 0;
}

.picture_of_2_girls_near_bridge {
	background: url(../img/picture_of_2_girls_near_bridge.jpg) no-repeat;
}

.picture_of_coup_of_coffie {
	background: url(../img/picture_of_coup_of_coffie.jpg) no-repeat;
}

.picture_of_alps {
	background: url(../img/picture_of_alps.jpg) no-repeat;
}

.sing_up {
	width: 100%;
	height: 285px;
	background-color: #f0f0f0;
	margin-top: 70px;
	text-align: center;
}

.sing_up h2 {
	color: #333333;
	display: block;
	padding-top: 70px;
	margin-top: 0;
	margin-bottom: 85px;
}

.girl_with_heat {
	background: url(../img/girl_with_heat.jpg) no-repeat;
}

.picture_of_road {
	background: url(../img/picture_of_road.jpg) no-repeat;
}

.button {
	width: 160px;
	height: 60px;
	margin: auto;
	margin-top: 110px;
	border: 1px solid #626262;
	text-align: center;
	margin-bottom: 200px;
}

.button a {
	display: block;
	font-size: 20px;
	margin-top: 15px;
=======
body {
	margin: 0;
}

header {
	width: 1060px;
	height: 675px;
	margin: auto;
	background: url(../img/picture_of_2_girls.jpg) no-repeat;
	overflow: hidden;
}

h1, h4, header a {
	text-transform: uppercase;
}

.background p {
	text-indent: -99999px;
}

h1 {
	float: left;
	margin: 70px 0 0 0;
	font-size: 30px;
	
}

header ul {
	float: right;
	margin: 80px 0 10px 0;
} 

header li {
	margin-left: 120px;
	display: inline;
}

a {
	text-decoration: none;
}

a:hover {
	 color: black;
}

a, p, h2 {
	font-family: 'Playfair Display', serif;
}

header a, h4, p, h4 a {
	font-size: 14px;
}

a, h2, p {
	color: #626262;
}

.wrap {
	overflow: hidden;
	margin-top: 100px;
}

article {
	width: 900px;
	margin: auto;
	overflow: hidden;
}

h4, h4 a {
	color: #b4ad9e;
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
}

h2 {
	margin: 30px 0 40px 0;
}

h2, h4 {
	font-weight: normal;
}

.wrap p {
	margin: 0 0 55px 0;
	line-height: 24px;
}

.left, .right {
	width: 420px;
	margin: 0;
}

.left {
	float: left;
}

.right {
	float: right;
}

article .background {
	width: 420px;
	height: 278px;
	margin: 135px 0 0 0;
}

.picture_of_dancing_girl {
	background: url(../img/picture_of_dancing_girl.jpg) no-repeat;
}

.left h4, .right h4 {
	margin: 35px 0 30px 0;
}

.picture_of_2_girls_near_bridge {
	background: url(../img/picture_of_2_girls_near_bridge.jpg) no-repeat;
}

.picture_of_coup_of_coffie {
	background: url(../img/picture_of_coup_of_coffie.jpg) no-repeat;
}

.picture_of_alps {
	background: url(../img/picture_of_alps.jpg) no-repeat;
}

.sing_up {
	width: 100%;
	height: 285px;
	background-color: #f0f0f0;
	margin-top: 70px;
	text-align: center;
}

.sing_up h2 {
	color: #333333;
	display: block;
	padding-top: 70px;
	margin-top: 0;
	margin-bottom: 85px;
}

.girl_with_heat {
	background: url(../img/girl_with_heat.jpg) no-repeat;
}

.picture_of_road {
	background: url(../img/picture_of_road.jpg) no-repeat;
}

.button {
	width: 160px;
	height: 60px;
	margin: auto;
	margin-top: 110px;
	border: 1px solid #626262;
	text-align: center;
	margin-bottom: 200px;
}

.button a {
	display: block;
	font-size: 20px;
	margin-top: 15px;
}